body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

.demo img{
    margin-right: 5px;
    width: 20%;
}

.hide-overflow{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.auto-overflow{
    overflow: auto;
}

.ps.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ps.loop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ps.mask{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.ps.img-container > img{
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}